<h1>My Projects</h1>

<!-- Card Search -->
<div class="row py-2 mb-5">
  <div class="col-sm-4">
    <input type="search" placeholder="Filter projects by title, tag, ect..." name="search" class="form-control searchbox-input text-light" required="">
  </div>
</div>

<!-- Local Projects -->
<h2>Featured Projects</h2>
<div class="card-columns m-3 mt-5">
  {% assign sort_order = 'name', 'last' %}
  {% assign filtered_projects = site.projects | where: 'hidden', false | sort: sort_order %}

  {% for project in filtered_projects %}
    {%- assign project_type       = "local" -%}
    {%- assign project_id         = project.name | slugify -%}
    {%- assign project_img        = project.image -%}
    {%- assign project_name       = project.name -%}
    {%- assign project_desc       = project.description -%}
    {%- assign project_tools      = project.tools -%}
    {%- assign project_language   = project.language -%}

    {%- if project.external_url -%}
      {%- assign project_url      = project.external_url -%}
      {%- assign external         = true -%}
    {%- else -%}
      {%- assign project_url      = project.url | relative_url -%}
      {%- assign external         = false -%}
    {%- endif -%}

    {% include projects/project-card.html %}
  {% endfor %}
</div>

<!-- Remote Projects -->
<h2>Open Source Projects</h2>
<div class="card-columns m-3 mt-5">
  {% assign sort_order = 'stargazers_count', 'last' %}
  {% assign filtered_repos = site.github.public_repositories | where:'archived', false | where:'fork', false | sort: sort_order | reverse %}

  {%- for repo in filtered_repos -%}
    {%- assign project = repo -%}
    {%- assign words = project.name | split: '-' -%}
    
    {%- capture titlecase -%}
      {%- for word in words -%}
        {{ word | capitalize | append: ' ' }}
      {%- endfor -%}
    {%- endcapture -%}
  
    {%- assign project_type      = "remote" -%}
    {%- assign project_id        = project.name -%}
    {%- assign project_img       = false -%}
    {%- assign project_name      = titlecase | strip -%}
    {%- assign project_desc      = project.description -%}
    {%- assign project_url       = project.html_url -%}
    {%- assign project_homepae   = project.homepage -%}
    {%- assign project_tools     = project.topics -%}
    {%- assign project_language  = project.language -%}
    {%- assign project_archived  = project.archived -%}
    {%- assign project_fork      = project.fork -%}
    {%- assign stargazers_count  = project.stargazers_count  -%}
    {%- assign forks_count       = project.forks_count -%}
    {%- assign external          = true -%}
  
    {% include projects/project-card.html %}
  
  {%- endfor -%}
</div>

<script>
$(document).ready(function(){
  $('.searchbox-input').on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".card").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>